.header{
    /* background-color: rgb(229, 238, 215); */
    background-color: #1558B0;
    background-image: linear-gradient(
0deg, transparent 24%, rgba(50, 50, 50, 0.05) 25%, rgba(50, 50, 50, 0.05) 26%, transparent 27%, transparent 74%, rgba(50, 50, 50, 0.05) 75%, rgba(50, 50, 50, 0.05) 76%, transparent 77%, transparent), linear-gradient(
90deg, transparent 24%, rgba(50, 50, 50, 0.05) 25%, rgba(50, 50, 50, 0.05) 26%, transparent 27%, transparent 74%, rgba(50, 50, 50, 0.05) 75%, rgba(50, 50, 50, 0.05) 76%, transparent 77%, transparent), linear-gradient(
43deg, #0ec5cc 0%, #305eae 100%);
  
    /* background-attachment: scroll, scroll, fixed; */
    color: white;
}
